**/__pycache__/
__pycache__/
app/**/__pycache__/
app/blueprints/__pycache__/
app/config/__pycache__/
app/models/__pycache__/
app/repositories/__pycache__/
app/services/__pycache__/
scraper/README.md





*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
pip-log.txt
.cache
logs/
*.log
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
venv/
.venv/
env/
ENV/
instance/
storage/
*.db
kuromanga.db



