__pycache__/
app/__pycache__/
app/blueprints/__pycache__/
app/blueprints/health/__pycache__/
app/blueprints/indexer/__pycache__/
app/blueprints/manga/__pycache__/
app/blueprints/status/__pycache__/
app/blueprints/storage/__pycache__/
app/blueprints/user_content/__pycache__/
app/config/__pycache__/
app/models/__pycache__/
app/repositories/__pycache__/
app/services/__pycache__/
scraper/__pycache__/
storage/
scraper/README.md
instance/kuromanga.db











